node_modules/
.env
*.exe
*.dll
*.bak
*.zip
config.json
comptes.json
historique.json
users/
backups/
*.log
protection.log
sauvegarde.log
attaques.log
.protection_hash.json
curl_out.txt
curl_output.txt
ngrok.exe
cloudflared.exe
bot.exe
stats.json
.bin-id
bins.json
