node_modules/
.env
*.exe
*.dll
*.bak
*.zip
config.json
comptes.json
historique.json
users/
backups/
*.log
protection.log
sauvegarde.log
attaques.log
.protection_hash.json
curl_out.txt
curl_output.txt
cloudflared.exe
bot.exe
stats.json
.bin-id
bins.json
logs/
invites.json
.blamune_session
hors_ligne
*.bak_*
.protection_hash.json.bak_*
savoir_nouvelles.txt
